<template>
  <div>
    <v-layout raw wrap v-show="!$store.getters.progressBar">
      <v-flex xs12 lg6>
        <v-card v-on:keyup.enter="saveDevice">

          <v-card-title class="grey lighten-4">
            <v-icon>devices</v-icon>
            <span class="ml-2 font-size-title">Device: "{{ device.name }}"</span>
          </v-card-title>

          <v-card-text>

            <v-text-field
              name="device-name"
              label="Device name"
              id="device-name"
              prepend-icon="local_offer"
              v-model="device.name"
            ></v-text-field>

            <v-text-field
              v-if="deviceType === 'publisher'"
              name="device-unit"
              label="Device unit"
              id="device-unit"
              prepend-icon="local_offer"
              v-model="device.unit"
            ></v-text-field>

            <v-select
              v-bind:items="deviceDataTypes"
              v-model="device.data_type"
              label="Select Data Type"
              prepend-icon="settings"
              item-value="value"
            ></v-select>

            <v-select
              v-bind:items="icons"
              v-model="device.icon"
              label="Select icon"
              item-text="value"
              item-value="value"
              autocomplete
              chips
              prepend-icon="insert_photo"
            >
              <template slot="selection" scope="data">
                <v-chip
                  @input="data.parent.selectItem(data.item)"
                  @click.native.stop
                  class=""
                >
                  <v-avatar>
                    <v-icon light>{{ data.item.value }}</v-icon>
                  </v-avatar>
                  {{ data.item.value | humanable }}
                </v-chip>
              </template>

              <template slot="item" scope="data">
                <v-list-tile-avatar>
                  <v-icon>{{ data.item.value }}</v-icon>
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-title>{{ data.item.value | humanable }}</v-list-tile-title>
                </v-list-tile-content>
              </template>
            </v-select>

          </v-card-text>

          <v-divider></v-divider>
          <v-card-actions>
            <v-btn success @click.native="saveDevice">Save</v-btn>
          </v-card-actions>

        </v-card>
      </v-flex>

      <v-flex xs12 lg6>
        <v-card>
          <v-card-title class="grey lighten-4">
            <v-icon>groups</v-icon>
            <span class="font-size-title">Device Groups</span>
          </v-card-title>

          <v-card-text>
            <table class="datatable table">
              <tbody>
              <tr v-for="(deviceGroup, index) in device.device_groups" :key="index">
                <td>
                  {{ index + 1}}
                </td>
                <td>
                  <v-select
                    v-bind:items="deviceGroups"
                    v-model="deviceGroup.id"
                    label="Select Group"
                    item-value="id"
                    item-text="name"
                  ></v-select>
                </td>

                <td>
                  <v-btn small icon class="white--text light-green darken-2" @click.native="addDeviceGroup(index)" v-tooltip:top="{ html: 'Add' }">
                    <v-icon>add</v-icon>
                  </v-btn>
                  <v-btn small icon class="white--text light-green darken-2" @click.native="removeDeviceGroup(index)" v-tooltip:top="{ html: 'Add' }">
                    <v-icon>remove</v-icon>
                  </v-btn>
                </td>
              </tr>
              </tbody>
            </table>
          </v-card-text>
        </v-card>

      </v-flex>
    </v-layout>
  </div>
</template>

<script>
  import {appConfig} from '../../../config/app'
  import router from '../../router/index'
  import {materializeIconList} from '../../lib/materialize_icon_list'
  import {humanable} from '../../lib/filters'

  export default {
    filters: {
      humanable: humanable
    },
    data () {
      return {
        areaId: this.$route.params.areaId,
        deviceId: this.$route.params.deviceId,
        deviceType: this.$route.params.deviceType,
        device: {
          name: '',
          device_groups: [{id: null}]
        },
        deviceDataTypes: [
          {text: 'Integer', value: 'integer'},
          {text: 'Float', value: 'float'},
          {text: 'Boolean', value: 'boolean'}
        ],
        deviceGroups: [],
        icons: materializeIconList
      }
    },

    watch: {
      '$route' (to, from) {
        if (to.name === 'deviceEdit') {
          // Refresh data
          this.deviceId = to.params.deviceId
          this.deviceType = to.params.deviceType
          this.device = {device_groups: [{id: null}]}

          this.getAreaDeviceGroupFromAPI()

          if (this.deviceId) {
            this.getDeviceFromAPI()
          }
        }
      }
    },

    methods: {
      getAreaDeviceGroupFromAPI () {
        if (this.areaId) {
          this.$store.dispatch('progressBar', true)
          const url = appConfig.URL.areaDeviceGroup + '/' + this.areaId

          this.$http.get(url).then(response => {
            this.$store.dispatch('progressBar', false)
            this.deviceGroups = response.data.data
          }, () => {
            this.$store.dispatch('progressBar', false)
          })
        }
      },

      getDeviceFromAPI () {
        if (this.deviceId) {
          this.$store.dispatch('progressBar', true)

          const url = appConfig.URL.device + '/' + this.deviceId

          this.$http.get(url).then(response => {
            this.$store.dispatch('progressBar', false)

            this.device = response.data

            // If not have a device groups add initial one
            if (!this.device.device_groups.length) {
              this.device.device_groups = [{id: null}]
            }
          }, () => {
            this.$store.dispatch('progressBar', false)
          })
        }
      },

      addDeviceGroup (index) {
        this.device.device_groups.splice(index + 1, 0, {id: null})
      },

      removeDeviceGroup (index) {
        this.device.device_groups.splice(index, 1)

        // add empty row
        if (!this.device.device_groups.length) {
          this.device.device_groups = [{id: null}]
        }
      },

      saveDevice () {
        // UPDATE DEVICE
        this.$store.dispatch('progressBar', true)

        this.device.device_groups = this.device.device_groups.filter(function (group) {
          if (group.id) {
            return group
          }
        })

        if (this.device.device_groups.length === 1 && this.device.device_groups[0].id === null) {
          this.device.device_groups = []
        }

        if (this.device.id) {
          const url = appConfig.URL.device + '/' + this.deviceId

          this.$http.put(url, this.device).then(response => {
            this.$store.dispatch('progressBar', false)
            router.push({name: 'areaEdit', params: {id: this.areaId, userId: null}})
          }, () => {
            this.$store.dispatch('progressBar', false)
          })
        // STORE NEW DEVICE
        } else {
          const url = appConfig.URL.areaDevice + '/' + this.areaId

          this.device.device_type = this.deviceType

          this.$http.post(url, this.device).then(response => {
            this.$store.dispatch('progressBar', false)
            router.push({name: 'areaEdit', params: {id: this.areaId, userId: null}})
          }, () => {
            this.$store.dispatch('progressBar', false)
          })
        }
      }
    },
    mounted () {
      this.$nextTick(() => {
        this.getAreaDeviceGroupFromAPI()
        this.getDeviceFromAPI()
      })
    }
  }
</script>
