<template>
  <div>
    <v-card>
      <v-card-title class="grey lighten-4">
        <v-icon>groups</v-icon>
        <span class="font-size-title">Areas</span>
      </v-card-title>
      <v-card-text>

        <v-card-title>
          <v-dialog v-model="dialog" persistent width="50%" :full-screen="$vuetify.breakpoint.xsOnly">
            <v-btn slot="activator" class="white--text light-green darken-2" @click.native="newItem">
              Add New Area
            </v-btn>
            <v-card>
              <v-card-title>
                <span class="headline">Area</span>
              </v-card-title>
              <v-card-text>

                <v-flex v-show="dialogLoading" xs4 offset-xs4 justify-center="true" class="text-xs-center">
                  <v-progress-circular indeterminate v-bind:size="70" v-bind:width="7" class="green--text"></v-progress-circular>
                </v-flex>

                <v-container grid-list-md v-show="!dialogLoading">
                  <v-layout wrap>
                    <v-flex xs12>
                      <v-text-field
                              name="area-name"
                              label="Area name"
                              id="area-name"
                              prepend-icon="local_offer"
                              v-model="item.name"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12>
                      <v-select
                              v-bind:items="timeZones"
                              v-model="item.additional_data['time_zone']"
                              label="Select Time Zone"
                              autocomplete
                              prepend-icon="map"
                      ></v-select>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn class="blue--text darken-1" flat @click.native="dialog = false">Close</v-btn>
                <v-btn class="blue--text darken-1" flat @click.native="saveItem">Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <v-spacer></v-spacer>

          <v-text-field
                  append-icon="search"
                  label="Search"
                  single-line
                  hide-details
                  v-model="search"
          ></v-text-field>
        </v-card-title>

        <v-data-table
                v-bind:headers="headers"
                v-bind:items="items"
                v-bind:pagination.sync="pagination"
                :total-items="totalItems"
                :loading="loading"
                class="elevation-1"
        >
          <template slot="headerCell" scope="props">
            <span v-tooltip:bottom="{ 'html': props.header.text }">
              {{ props.header.text }}
            </span>
          </template>

          <template slot="items" scope="props">
            <td class="text-xs-left">{{ props.item.id }}</td>
            <td class="text-xs-left">{{ props.item.name }}</td>
            <td class="text-xs-left">
              <v-btn small icon class="white--text light-green darken-2" router :to="{name:'areaInfo', params:{id:props.item.id}}" v-tooltip:top="{ html: 'Info Area' }">
                <v-icon>info</v-icon>
              </v-btn>
              <v-btn small icon class="white--text light-green darken-2" router :to="{name:'areaEdit', params:{id:props.item.id}}" v-tooltip:top="{ html: 'Edit Area' }">
                <v-icon>settings</v-icon>
              </v-btn>
              <v-btn small icon class="white--text light-green darken-2" @click.native="editItem(props.item.id)" v-tooltip:top="{ html: 'Edit' }">
                <v-icon>edit</v-icon>
              </v-btn>
              <v-btn small icon @click.native="deleteItem(props.item.id)" class="white--text light-green darken-2" v-tooltip:top="{ html: 'Delete' }">
                <v-icon>delete</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>

      </v-card-text>
    </v-card>
  </div>
</template>

<script>
  import _ from 'lodash'
  import {appConfig} from '../../../../config/app'
  import moment from 'moment'

  export default {
    props: {
      routeName: {
        type: String,
        required: true
      },
      userId: {
        required: true
      }
    },
    data () {
      return {
        timeZones: moment.tz.names(),
        passwordVisible: true,
        roles: [{text: 'Admin', value: 'admin'}, {text: 'Customer', value: 'customer'}],
        search: null,
        dialog: false,
        dialogLoading: false,
        loading: true,
        totalItems: 0,
        pagination: {rowsPerPage: 25, search: ''},
        headers: [
          {text: 'ID', align: 'left', value: 'id'},
          {text: 'Name', align: 'left', value: 'name'},
          { text: 'Actions', align: 'left', value: 'actions', sortable: false }
        ],
        item: {
          additional_data: {}
        },
        selectDevices: [],
        devices: []
      }
    },
    watch: {
      '$route' (to, from) {
        if (to.name === this.routeName) {
          this.fetchItems()
        }
      },
      pagination: {
        handler (newVal, oldVal) {
          if (oldVal.totalItems || oldVal.totalItems <= 0) {
            this.loading = true
            this.fetchItems()
          }
        },
        deep: true
      },
      search: _.debounce(function (newVal) {
        this.fetchItems(newVal)
      }, 400)
    },
    computed: {
      authUser () {
        return this.$store.getters.authUser
      },
      items: function () {
        this.loading = false
        this.totalItems = this.$store.getters.areaCollection.meta ? this.$store.getters.areaCollection.meta.total : 0

        return this.$store.getters.areaCollection.data ? this.$store.getters.areaCollection.data : []
      }
    },
    methods: {
      fetchItems (search) {
        this.loading = true
        const getParams = '?' + (this.pagination.sortBy ? '&sortBy=' + this.pagination.sortBy : '') + (this.pagination.descending ? '&descending=' + this.pagination.descending : '') + '&page=' + this.pagination.page + '&limit=' + this.pagination.rowsPerPage + (search ? '&search=' + search : '')

        this.$store.dispatch('fetchAreaCollection', {userId: this.userId, getParams: getParams})
      },
      newItem () {
        this.item = {
          additional_data: {}
        }
      },
      editItem (itemId) {
        this.dialog = true

        if (this.item.id !== itemId) {
          this.dialogLoading = true
          const url = appConfig.URL.area + '/' + itemId

          this.$http.get(url).then(response => {
            this.dialogLoading = false
            this.item = response.data.data
          })
        }
      },
      saveItem () {
        let url = ''
        this.dialogLoading = true

        if (this.item.id) {
          url = appConfig.URL.area + '/' + this.item.id

          this.$http.put(url, this.item).then(() => {
            this.dialogLoading = false
            this.dialog = false
            this.fetchItems(this.search)
          }, () => {
            this.dialogLoading = false
            this.dialog = false
          })
        } else {
          url = appConfig.URL.area + '/' + this.userId

          this.$http.post(url, this.item).then(() => {
            this.dialogLoading = false
            this.dialog = false
            this.fetchItems(this.search)
          }, () => {
            this.dialogLoading = false
            this.dialog = false
          })
        }
      },
      deleteItem (itemId) {
        if (confirm('Do you want delete') === true) {
          const url = appConfig.URL.area + '/' + itemId
          this.loading = true

          this.$http.delete(url, this.item).then(() => {
            this.fetchItems(this.search)
          }, () => {
            this.loading = false
          })
        }
      }
    },
    mounted () {
      this.$nextTick(() => {
        this.fetchItems()
      })
    }
  }
</script>
