<template>
  <div>
    <v-layout row wrap class="" v-show="! $store.getters.progressBar">

      <v-flex xs12 lg6>
        <v-card-media src="/static/image/greenhouse.jpg" height="100%"></v-card-media>
      </v-flex>

      <v-flex xs12 lg6>
        <aria-device-publisher-data-info-table-list :area-id="areaId" route-name="areaInfo"></aria-device-publisher-data-info-table-list>
      </v-flex>
    </v-layout>

    <v-layout row wrap class="pt-3" v-show="! $store.getters.progressBar">
      <v-flex xs12 lg12>
        <aria-device-workers-control-table-list :area-id="areaId" route-name="areaInfo"></aria-device-workers-control-table-list>
      </v-flex>
    </v-layout>

  </div>
</template>

<script>
  export default {
    data () {
      return {}
    },
    computed: {
      areaId: function () {
        return parseInt(this.$route.params.id)
      }
    }
  }
</script>
