<template xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div>
	  <v-card>
		  <v-card-text class="mt-2">
			  <v-parallax src="/static/image/hydroponics1.jpg">
				  <v-layout column align-center justify-center>
					  <h1 class="white--text"><img src="/static/image/logo500px.png"> </h1>
				  </v-layout>
			  </v-parallax>
		  </v-card-text>

		  <v-card-text class="mt-2">
			  <v-layout row class="mt-2">
				  <v-flex xs12 lg6 >
					  <v-layout column align-center justify-center>
						  <h4 class="light-green--text"><strong>O NAMA</strong></h4>
					  </v-layout>
					  <v-layout justify-center>
					  H2M Green Grow Solution d.o.o. je preduzeće osnovano 2018
					  godine u Banja Luci sa sjedištem u Banja Luci.
					  Preduzeće se bavi proizvodnjom biljaka za ishranu ljudi u visoko standardazivoanim i automatizovanim
					  zaštićenim prostorima na hidroponskim sistemima.
					  Taođe u našem asortimanu možete pronaći i sve elektronske komponente potrebne za automatizaciju
					  zatvorenih prostroa kao i automatizaciju
					  pojedinačnih i grupnih procesa proizvodnje te kompletnu softversku podršku za navedene proizvode. Sa
					  ponosom donosimo domaći proizvod svjetskog
					  kvaliteta koji svoju glavnu konkurentnost na domaćem ali i stranom tržištu pronalazi u cjenovnoj
					  pristupačnosti. Paleta proizvoda se kreće od
					  onih namjenjih amaterskoj proizvodnji do velikih profesionalnih pogona.
					  </v-layout>
				  </v-flex>
				  <v-flex xs12 lg6>
					  <v-card-media
							  class="white--text"
							  height="300px"
							  src="/static/image/hydroponics.jpg"
					  ></v-card-media>
				  </v-flex>
			  </v-layout>
			  <v-layout row class="mt-2">
				  <v-flex xs12 lg6>
					  <v-card-media
							  contain="true"
							  height="400px"
							  src="/static/image/nft_system.png"
					  ></v-card-media>
				  </v-flex>
				  <v-flex xs12 lg6>
					  <v-layout column align-center justify-center>
						  <h4 class="light-green--text"><strong>Prednosti NFT uzgoja</strong></h4>
					  </v-layout>
					  <v-layout justify-center>
						  Vrijeme u kojem se nalazimo, karakteriše sve brži rast velikih ekonomskih sila, pa samim tim i sve veći broj ljudi na planeti Zemlji, što dovodi do potrebe povećane proizvodnje hrane. Takođe naša planeta se odlikuje sve većim klimatskim promjenama, koje sve izvjesnije konvencionalne metode proizvodnje hrane na otvorenim i polu zatvorenim prostorima stavlja u potpuno bezizlaznu situaciju. Upravo zbog svega gore navedenog, uzgoj hrane u visoko sofisticiranim zaštićenim prostorima postaje neophodna realnost za svaku ozbiljnu sredinu koja se brine o budućnosti svojih građana. Uzgoj biljaka u NFT kanalima donosi mnoge prednosti, neke od njih su:
						  Ne koristi se zemlja te je pojava bolesti svedena na minimum;
						  U potpunosti je izuzeta upotreba pesticida. Proizvodi proizvedeni na ovaj način mnogo su zdraviji nego u slučaju konvencionalne proizvodnje na zemljištu;
						  U NFT sistemima je voda sa rastvorenim organskim hranivima u konstantnom kružnom kretanju kroz sitem. To doprinosi smanjenju količine vode koja je potrebna za proizvodnju. Hranljive materije se recikliracju i nema njihovog gubitka i/ili Ispiranja u druge slojeve zemljišta kao što je slučaj kod konvencionalnih metoda.
						  U NFT sistemima nema ni jednog vida zagađivanja zemljišta i vazduha;
						  Za proizvodnju povrća, začinskog, medicinskog i ukrasng bilja u NFT sistemu potrebno je mnogo manje radne snage te se troši manja količina energije za rad;
						  U NFT sistemima veoma je lako kontrolistai snabdjevenost biljaka hranjivim materijama i dozirazi ih prema specificnim potrebama gajenih sorti;
						  Biljke uzgajane u ovom sistemu razvijaju se mnogo brže nego u zemljištu i tokom jedne godine moguće je ostvariti tri berbe više nego kod tradicionalne poljoprivredne proizvodnje.
					  </v-layout>
				  </v-flex>
			  </v-layout>
		  </v-card-text>
	  </v-card>

	  <!-- Mikro Zelenilo-->
	  <v-card>
		  <v-card-text class="mt-2">
			  <v-parallax src="/static/image/mikro-zelenilo.jpg">
				  <v-layout column align-center justify-center>
					  <h1 class="white--text"><strong>Proizvodi</strong></h1>
				  </v-layout>
			  </v-parallax>
			  <v-layout row>
				  <v-flex xs12 >
					  <v-layout class="mt-4" column align-center justify-center>
						  <h3 class="light-green--text"><strong>Mikro Zelenilo</strong></h3>
					  </v-layout>
				  </v-flex>
			  </v-layout>
		  </v-card-text>
		  <v-card-text class="mt-2">
			  <v-layout row class="mt-2">
				  <v-flex xs12 lg6 >
					  <v-layout column align-center justify-center>
						  <h4 class="light-green--text"><strong>Grasak</strong></h4>
					  </v-layout>
					  <v-layout justify-center>
						  <p>
							  Kao što smo naveli na početku grašak predstavlja visoko kvalitetnu i hranjivu namirnicu.
							  Osim što ima bogate nutritivne sastojke važno je napomenuti da je grašak bogat izvor energije odnosno otprilike 100g graška sadrži oko 80 kcal,
							  napominje nutricionistkinja Jakšić. Osim značajne energetske vrijednosti grašak je bogat izvor ugljikohidrata i vlakana (galaktana), glukoze, glukuronske kiseline, fruktoze, proteine, masti i lecitina.
							  Grašak je bogat vitaminom C i E pa se preporuča konzumacija graška u našoj prehrani.
							  Također sadrži i vitamin B1 (tiamin), vitamin B2 (riboflavin), niacin, vitamin E i vitamin A u tragovima, magnezij i mangan.
							  Kao odličan izvor vlakana pomaže kod održavanja, očuvanja probavnog sustava te poboljšanja probave.
							  Ova namirnica bogat je izvor željeza što znači da djeluje povoljno na naš imunološki sustav.
							  "Pojačava naš imunitet, djeluje na umor i bezvoljnost, a budući da sadrži željezo poboljšava uspješniju izgradnju stanica u krvi.
							  Grašak je bogat vitaminom K pa možemo zaključiti da je važan za srčano-krvožilni sustav, očuvanje i zdravlje kostiju.
							  „Sprečava“ osteoporozu, a pridonosi aterosklerozi.
						  </p>
					  </v-layout>
				  </v-flex>
				  <v-flex xs12 lg6>
					  <v-card-media
							  height="400px"
							  src="/static/image/grasak.JPG"
					  ></v-card-media>
				  </v-flex>
			  </v-layout>
		  </v-card-text>

		  <v-card-text>
			  <v-layout row class="mt-2">
				  <v-flex xs12 lg6>
					  <v-card-media
							  height="400px"
							  src="/static/image/kineska_rotkvica.JPG"
					  ></v-card-media>
				  </v-flex>
				  <v-flex xs12 lg6>
					  <v-layout column align-center justify-center>
						  <h4 class="light-green--text"><strong>Japanska/Kineska Rotkvica</strong></h4>
					  </v-layout>
					  <v-layout justify-center>
						 <p>Mikro rotkvica ima prilično odvažan ukus u odnosu na svoju veličinu. Koristi se u predjelima od ribe i mesa, salatama. Izuzetno je dobar izvor vitamina C, kalijuma i magnezijuma. Sadrži i folnu kiselinu, riboflavin, vitamin B6, bakar i mangan.</p>
					  </v-layout>
				  </v-flex>
			  </v-layout>
		  </v-card-text>

		  <v-card-text>
			  <v-layout row class="mt-2">
				  <v-flex xs12 lg6>
					  <v-layout column align-center justify-center>
						  <h4 class="light-green--text"><strong>Slačica/Semf</strong></h4>
					  </v-layout>
					  <v-layout justify-center>
						  <p>
							  Mikro žuta slačica ima vrlo jak ukus koji podseća na ren. Koristi se kao prilog glavnom jelu, predjelu i u svim zelenim salatama. Bogata je kalcijumom, gvožđem , magnezijumom, fosforom, kalijumom, cinkom, beta karotenom i hlorofilom.
						  </p>
					  </v-layout>
				  </v-flex>
				  <v-flex xs12 lg6>
					  <v-card-media
							  height="400px"
							  src="/static/image/senf.jpg"
					  ></v-card-media>
				  </v-flex>
			  </v-layout>
		  </v-card-text>

		  <v-card-text>
			  <v-layout row class="mt-2">
				  <v-flex xs12 lg6>
					  <v-card-media
							  height="400px"
							  src="/static/image/rukola.JPG"
					  ></v-card-media>
				  </v-flex>
				  <v-flex xs12 lg6>
					  <v-layout column align-center justify-center>
						  <h4 class="light-green--text"><strong>Rukola</strong></h4>
					  </v-layout>
					  <v-layout justify-center>
						  <p>
							  Mikro rukola je jedna od najpopularnijih vrsta mikro povrća. Kuvari su prvo počeli da koriste u restoranima baš nju. Sadrži visok procenat vitamina C, kalcijuma, vitamina A i folne kiseline. Mala veličina je čini idealnim jestivim ukrasom na pici, omletima i testeninama ili na vrhu grilovanih plodova mora i živine. Ljutkast ukus mikro rukole odlično se slaže sa paradajzom, maslinama, lukom, cveklom, limunom, orahom i sirevima posebno parmezanom,  mocarelom ili kozjim sirom.
						  </p>
					  </v-layout>
				  </v-flex>
			  </v-layout>
		  </v-card-text>

		  <v-card-text>
			  <v-layout row class="mt-2">
				  <v-flex xs12 lg6>
					  <v-layout column align-center justify-center>
						  <h4 class="light-green--text"><strong>Crveni Kupus</strong></h4>
					  </v-layout>
					  <v-layout justify-center>
						  <p>
							  Mikro crveni kupus ima slatkast ukus i interesantnu boju. Odličan je kao prilog grilovanom ili pečenom povrću i nezaobilazan deo zanimljivih mesanih salata. Mikro crveni kupus je snažan udar energije u ishrani jer ima najvišu koncentraciju vitamin C, čak 40 puta veću od odraslog crvenog kupusa. Visoko je rangiran i kada su vitaminima E i K u pitanju.
						  </p>
					  </v-layout>
				  </v-flex>
				  <v-flex xs12 lg6>
					  <v-card-media
							  height="400px"
							  src="/static/image/crveni_kupus.JPG"
					  ></v-card-media>
				  </v-flex>
			  </v-layout>
		  </v-card-text>
	  </v-card>

		<!-- Footer -->
		<v-footer class="pa-3 grey darken-3" style="min-height: 200px;">
			<div>
				<h6 class="white--text">Kontakt:</h6>
				<p class="white--text text-xs-left"><strong>Email:</strong> info@h2m-solution.com</p>
				<p class="white--text text-xs-left"><strong>Tel:</strong> +387 65 358 656 (Marko Miljuš)</p>
				<p class="white--text text-xs-left"><strong>Tel:</strong> +387 65 974 475 (Aleksandar Milić)</p>
			</div>

		</v-footer>

  </div>
</template>


<script>
    /* eslint-disable indent */

    import VCardTitle from 'vuetify/src/components/VCard/VCardTitle'

    export default {
      components: {VCardTitle},
      data: () => ({show: false})
    }
</script>

