<template>
  <div>
    <v-layout row wrap>
      <v-flex xs12 sm6 md4>
        <v-select
                required
                autocomplete
                clearable
                label="Select Device"
                v-model="deviceIdInt"
                v-bind:items="devices"
                item-value="id"
                item-text="name"
        ></v-select>
      </v-flex>

      <v-flex xs12 sm6 md4>
        <v-select
          label="Conditional Operator"
          v-model="conditionalOperatorInt"
          :items="[
            {text: '>', value: '>'},
            {text: '<', value: '<'},
            {text: '>=', value: '>='},
            {text: '<=', value: '<='},
            {text: '==', value: '=='},
            {text: '!=', value: '!='}
          ]"
        ></v-select>
      </v-flex>

      <v-flex xs12 sm6 md4>
        <v-text-field
                label="Value"
                v-model="valueInt"
        ></v-text-field>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
  export default {
    props: {
      devices: {
        default: [],
        type: Array
      },
      deviceId: {
        default: null
      },
      conditionalOperator: {
        default: null
      },
      value: {
        default: null
      }
    },

    data () {
      return {
        deviceIdInt: this.deviceId,
        conditionalOperatorInt: this.conditionalOperator,
        valueInt: this.value
      }
    },
    watch: {
      deviceId: function (newValue) {
        this.deviceIdInt = newValue
      },
      deviceIdInt: function (newValue) {
        this.$emit('update:deviceId', newValue)
      },

      conditionalOperator: function (newValue) {
        this.timeInt = newValue
      },
      conditionalOperatorInt: function (newValue) {
        this.$emit('update:conditionalOperator', newValue)
      },

      value: function (newValue) {
        this.valueInt = newValue
      },
      valueInt: function (newValue) {
        this.$emit('update:value', newValue)
      }
    },

    mounted () {}
  }
</script>
