<template>
  <div>
    <v-card>
      <v-card-title class="grey lighten-4">
        <v-icon>devices</v-icon>
        <span class="ml-2 font-size-title">Worker Devices</span>
      </v-card-title>
      <v-card-text>

        <v-card-title>
          <v-spacer></v-spacer>
          <v-text-field
                  append-icon="search"
                  label="Search"
                  single-line
                  hide-details
                  v-model="search"
          ></v-text-field>
        </v-card-title>

        <v-data-table
                v-bind:headers="headers"
                v-bind:items="items"
                v-bind:pagination.sync="pagination"
                :total-items="totalItems"
                :loading="loading"
                class="elevation-1"
        >
          <template slot="headerCell" scope="props">
            <span v-tooltip:bottom="{ 'html': props.header.text }">
              {{ props.header.text }}
            </span>
          </template>

          <template slot="items" scope="props">
            <td class="text-xs-left">{{ props.item.name }}</td>
            <td class="text-xs-left">
              <v-switch v-model="props.item.manual_control" @click.native="manualControlOnOf(props.item.id, props.item)"></v-switch>
            </td>
            <td class="text-xs-left">
              <v-switch v-model="props.item.turn_on" @click.native="turnOnOf(props.item.id, props.item)" :disabled="!props.item.manual_control"></v-switch>
            </td>
          </template>
        </v-data-table>

      </v-card-text>
    </v-card>
  </div>
</template>

<script>
  import _ from 'lodash'
  import {appConfig} from '../../../../config/app'

  export default {
    props: {
      areaId: {
        type: Number,
        required: true
      },
      routeName: {
        type: String,
        required: true
      }
    },
    data () {
      return {
        search: null,
        loading: true,
        totalItems: 0,
        pagination: {rowsPerPage: 25, search: ''},
        headers: [
          {text: 'Name', align: 'left', value: 'name'},
          {text: 'Manual Control', align: 'left', value: 'manual_control', sortable: false},
          {text: 'Off/On', align: 'left', value: 'turn_on', sortable: false}
        ]
      }
    },
    watch: {
      '$route' (to, from) {
        if (to.name === this.routeName) {
          this.fetchItems()
        }
      },
      pagination: {
        handler (newVal, oldVal) {
          if (oldVal.totalItems || oldVal.totalItems <= 0) {
            this.loading = true
            this.fetchItems()
          }
        },
        deep: true
      },
      search: _.debounce(function (newVal) {
        this.fetchItems(newVal)
      }, 400)
    },
    computed: {
      items: function () {
        this.loading = false
        this.totalItems = this.$store.getters.areaWorkerDeviceCollection.meta ? this.$store.getters.areaWorkerDeviceCollection.meta.total : 0

        return this.$store.getters.areaWorkerDeviceCollection.data ? this.$store.getters.areaWorkerDeviceCollection.data : []
      }
    },
    methods: {
      fetchItems (search) {
        this.loading = true
        const getParams = '?' + (this.pagination.sortBy ? '&sortBy=' + this.pagination.sortBy : '') + (this.pagination.descending ? '&descending=' + this.pagination.descending : '') + '&page=' + this.pagination.page + '&rowPerPage=' + this.pagination.rowsPerPage + (search ? '&search=' + search : '')

        this.$store.dispatch('fetchAreaWorkerDeviceCollection', {areaId: this.areaId, getParams: getParams})
      },

      turnOnOf (deviceId, device) {
        if (device.manual_control) {
          const url = appConfig.URL.deviceOnOffSet + '/' + deviceId
          const data = {
            turn_on: device.turn_on
          }

          this.$http.put(url, data).then(() => {}, () => {
            device.turn_on = !device.turn_on
          })
        }
      },

      manualControlOnOf (deviceId, device) {
        const url = appConfig.URL.deviceManualControlOnOfSet + '/' + deviceId
        const data = {
          manual_control: device.manual_control
        }

        this.$http.put(url, data).then(() => {}, () => {
          device.manual_control = !device.manual_control
        })
      }
    },
    mounted () {
      this.$nextTick(() => {
        this.fetchItems()
      })
    }
  }
</script>
