<template>
  <div>
    <v-card>
      <v-card-title class="grey lighten-4">
        <v-icon>devices</v-icon>
        <span class="ml-2 font-size-title">Info</span>
      </v-card-title>
      <v-card-text>
        <v-card-title>
          <v-spacer></v-spacer>
          <v-text-field
                  append-icon="search"
                  label="Search"
                  single-line
                  hide-details
                  v-model="search"
          ></v-text-field>
        </v-card-title>

        <v-data-table
                v-bind:headers="headers"
                v-bind:items="items"
                v-bind:pagination.sync="pagination"
                :total-items="totalItems"
                :loading="loading"
                class="elevation-1"
        >
          <template slot="headerCell" scope="props">
            <span v-tooltip:bottom="{ 'html': props.header.text }">
              {{ props.header.text }}
            </span>
          </template>

          <template slot="items" scope="props">
            <td  class="text-xs-left"><v-icon>{{ props.item.icon }}</v-icon>  {{ props.item.current_data | round(2) }} {{ props.item.unit}}</td>
            <td  class="text-xs-left"><v-icon>{{ props.item.icon }}</v-icon>  {{ props.item.average_data | round(2) }} {{ props.item.unit}}</td>
            <td  class="text-xs-left">{{ props.item.last_data_send_date | timeZoneTime }}</td>
            <td  class="text-xs-left">{{ props.item.name }}</td>
          </template>
        </v-data-table>

      </v-card-text>
    </v-card>
  </div>
</template>

<script>
  import _ from 'lodash'
  import {appConfig} from '../../../../config/app'
  import {materializeIconList} from '../../../lib/materialize_icon_list'
  import {round, timeZoneTime, humanable} from '../../../lib/filters'
  import Echo from 'laravel-echo'
  window.Pusher = require('pusher-js')

  export default {
    filters: {
      round: round,
      timeZoneTime: timeZoneTime,
      humanable: humanable
    },
    props: {
      areaId: {
        type: Number,
        required: true
      },
      routeName: {
        type: String,
        required: true
      }
    },
    data () {
      return {
        search: null,
        dialog: false,
        dialogLoading: false,
        loading: true,
        totalItems: 0,
        pagination: {rowsPerPage: 25, search: ''},
        headers: [
          {text: 'Current Value', align: 'left', value: 'current_data', sortable: false},
          {text: 'Average Value', align: 'left', value: 'average_data', sortable: false},
          {text: 'Time', align: 'left', value: 'last_data_send_date', sortable: false},
          {text: 'Device Name', align: 'left', value: 'name'}
        ],
        item: {},
        icons: materializeIconList
      }
    },
    watch: {
      '$route' (to, from) {
        if (to.name === this.routeName) {
          this.fetchItems()
        }
      },
      pagination: {
        handler (newVal, oldVal) {
          if (oldVal.totalItems || oldVal.totalItems <= 0) {
            this.loading = true
            this.fetchItems()
          }
        },
        deep: true
      },
      search: _.debounce(function (newVal) {
        this.fetchItems(newVal)
      }, 400)
    },
    computed: {
      items: function () {
        this.loading = false
        this.totalItems = this.$store.getters.areaPublisherDeviceCollection.meta ? this.$store.getters.areaPublisherDeviceCollection.meta.total : 0

        return this.$store.getters.areaPublisherDeviceCollection.data ? this.$store.getters.areaPublisherDeviceCollection.data : []
      },
      authUser () {
        return this.$store.getters.authUser
      }
    },
    methods: {
      fetchItems (search) {
        this.loading = true
        const getParams = '?' + (this.pagination.sortBy ? '&sortBy=' + this.pagination.sortBy : '') + (this.pagination.descending ? '&descending=' + this.pagination.descending : '') + '&page=' + this.pagination.page + '&rowPerPage=' + this.pagination.rowsPerPage + (search ? '&search=' + search : '')

        this.$store.dispatch('fetchAreaPublisherDeviceCollection', {areaId: this.areaId, getParams: getParams})
      }
    },
    created () {
      window.Echo = new Echo({
        authEndpoint: appConfig.DOMEN + '/broadcasting/auth',
        auth: {
          headers: {
            'Authorization': 'Bearer ' + this.authUser.token
          }
        },
        broadcaster: 'pusher',
        app_id: appConfig.PUSHER.appId,
        key: appConfig.PUSHER.key,
        secret: appConfig.PUSHER.secret,
        cluster: appConfig.PUSHER.cluster,
        encrypted: appConfig.PUSHER.encrypted
      })
    },
    mounted () {
      window.Echo.join('device-publisher-data')
        .listen('DevicePublisherDataEvent', (response) => {
          this.$store.commit('updateAreaDevicePublisherCollection', response.device)
        })

      this.$nextTick(() => {
        this.fetchItems()
      })
    }
  }
</script>
